@media (min-width: 660px) {
  .count {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto;
    outline: 1px solid;
  }
  .count__minus {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    outline: 1px solid;
  }
  .count__minus::after {
    position: absolute;
    content: "";
    top: 18px;
    left: 10px;
    width: 22px;
    height: 5px;
    background-color: #00c675;
  }
  .count__value {
    display: block;
    width: 100px;
    padding: 9px 0;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: #00c675;
    outline: 1px solid;
    box-sizing: border-box;
  }
  .count__plus {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    outline: 1px solid;
  }
  .count__plus::before {
    position: absolute;
    content: "";
    top: 17px;
    left: 10px;
    width: 22px;
    height: 5px;

    background-color: #00c675;
    transform: rotate(90deg);
  }
  .count__plus::after {
    position: absolute;
    content: "";
    top: 18px;
    left: 10px;
    width: 22px;
    height: 5px;
    background-color: #00c675;
  }
}
