.promo-block {
  min-height: 270px;
  background-color: whitesmoke;
  &--pricelist {
    min-height: 170px;
    margin-bottom: 60px;
  }
}
.promo-block__wrapper {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
   &--pricelist {
      padding-top: 0;
    }
    &--send {
      position: relative;
      padding-top: 0;
    }
}
.promo-block__slogan {
  display: block;
  color: grey;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  &--pricelist {
      display: none;
    }
}

.promo-block__count {
  display: inline-block;
  width: 240px;
  padding: 15px 0;
  background-color: #00c675;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.promo-block__count:hover {
  background-color: #9b9998;
  box-sizing: border-box;
}
.promo-block__count:active {
  color: lighten(#9b9998, 30%);
}

@media (min-width: 660px) {
  .promo-block {
    min-height: 550px;
    background-color: white;
    background-image: url("../img/bg_header_min.jpg");
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: 100%;

    &--pricelist {
      display: block;
      min-height: 0;
      margin-bottom: 80px;
    }
    &--send {
      height: 550px;
    }
  }
  .promo-block__wrapper {
    display: flex;
    width: 1160px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;

    &--pricelist {
      padding-top: 0;
    }

    &--send {
      position: relative;
      padding-top: 0;
    }
  }

  .promo-block__slogan {
    display: block;
    width: 750px;
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #666666;
    text-align: left;
    text-shadow: 0px 0px 1px #fff;

    &--pricelist {
      display: none;
    }
  }

  .promo-block__count {
    display: inline-block;
    width: 230px;
    padding: 15px 0;
    background-color: #00c675;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid transparent;
    box-sizing: border-box;
  }
  .promo-block__count:hover {
    background-color: #9b9998;
    box-sizing: border-box;
  }
  .promo-block__count:active {
    color: lighten(#9b9998, 30%);
  }
}
