.promo-block {
  min-height: 270px;
  background-color: #f4ece1;

  &--pricelist {
    min-height: 170px;
    margin-bottom: 60px;
  }
}
.promo-block__wrapper {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
   &--pricelist {
      padding-top: 0;
    }
    &--send {
      position: relative;
      padding-top: 0;
    }
}
.promo-block__title {
  width: 270px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #ff6347;
  letter-spacing: 0.01em;
  text-align: center;
}
.promo-block__slogan {
  display: block;
  color: grey;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  &--pricelist {
      display: none;
    }
}

.promo-block__count {
  display: block;
  width: 280px;
  padding: 15px 0;
  background-color: @green;
  border-radius: 3px;
  background-color: #00c675;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.promo-block__count:hover {
  transition-duration: 400ms;
  background-color: @green-hover;
  box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 6px 16px rgba(0,0,0,0.22);
}
.promo-block__count:active {
  color: lighten(#9b9998, 30%);
}

@media (min-width: 660px) {
  .promo-block {
    min-height: 550px;
    background-color: white;
    background-image: url("../img/bg_header_min.jpg");
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: 100%;

    &--pricelist {
      display: block;
      min-height: 0;
      margin-bottom: 80px;
    }
    &--send {
      height: 550px;
    }
  }
  .promo-block__wrapper {
    display: flex;
    width: 1160px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;

    &--pricelist {
      padding-top: 0;
    }

    &--send {
      position: relative;
      padding-top: 0;
    }
  }

  .promo-block__title {
    width: 630px;
    margin: 0;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 0;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    color: #00c675;
    letter-spacing: 0.03em;
    text-shadow: 1px 0 0 #666666;
    text-align: left;
  }

  .promo-block__slogan {
    display: block;
    width: 660px;
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: @green;
    text-align: left;
    text-shadow: 1px 0px 1px #333;
  }

  .promo-block__count {
    display: inline-block;
    width: 400px;
    padding: 20px;
    background-color: @green;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    box-sizing: border-box;
  }
  .promo-block__count:hover {
    transition-duration: 400ms;
    background-color: @green-hover;
    box-shadow: 0 0px 28px rgba(0,0,0,0.25), 0 6px 16px rgba(0,0,0,0.22);
  }
  .promo-block__count:active {
    transition-duration: 100ms;
    color: lighten(#9b9998, 30%);
  }
}
